/*------------------------- 28 Magnusviri Style -------------------------*/
body {
	margin: 0;
	padding: 0;
	background: -webkit-linear-gradient(left,rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4));
}

p {
	overflow-y: hidden;
}

/*--------------------------------- style for "RESPONSIVENESS" ------------------------------*/
.full {
	width: 100%;
}
/*--------------------------------- styles for TOP navigation menu ------------------------------*/
.horizontal_line {
	padding: .1em;
	width: 100%;
	background: -webkit-linear-gradient(left,rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(255,0,0,.4), rgba(0,255,0,.4), rgba(0,0,255,.4));
}

/*-------------------------------- styles for other ----------------------------*/
pre {
	background: rgba(0,0,0,.5);
	color: #0f0;
	padding: 5px;
}

code, pre {
	font-family: "Andale Mono", "courier-new", courier, monospace;
	font-size: 10pt;
	overflow-y: hidden;
}

code {
	border-radius: 3px;
	padding: 1px;
}

.title {
	text-align: center;
	margin: 0 auto;
	max-width: 1000px;
}

.titlesm {
	text-align: center;
	margin: 0 auto;
	max-width: 400px;
}

.content {
	font-family: sans-serif;
	margin: 0 auto;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	border-radius: 10px;
	max-width: 800px;
}

.content a:link {
	color: #033;
}

.content a:visited {
	color: #066;
}

.content a:focus {
	color: blue;
}

.content a:hover {
	color: #f66;
}

.content a:active {
	color: #600;
}

#disqus_thread {
	margin: 20px auto;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	border-radius: 10px;
	max-width: 600px;
}
